<style>
    @font-face {
        font-family: 'Georgia Regular';
        src: url({{ "fonts/Georgia/Georgia.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Georgia Bold';
        src: url({{ "fonts/Georgia/Georgia-Bold.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Georgia Italic';
        src: url({{ "fonts/Georgia/Georgia-Italic.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Georgia Bold Italic';
        src: url({{ "fonts/Georgia/Georgia-BoldItalic.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: italic;
    }

    body {
        font-family: "Georgia";
    }
</style>